<h1>Searching for - <%= @display_term%></h1>
<table boarder="1">
	<tr>
		<th>Image</th>
		<th>Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |recipe|%>	
		<tr>
			<td>
				<%=link_to image_tag(recipe["image_url"], height: '100', width: '100' ), recipe["source_url"]%>
			</td>
			<td><%= sanitize recipe["title"] %></td>
			<td><%= recipe["social_rank"].to_s %></td>
		</tr>
	<% end %>
</table>
